.paralax {
  background-image: url("../img/pexels-gabby-k-5302896.jpg");
}

#title {
  margin: 8px 30px 15px 30px;
  text-align: left;
  color: burlywood;
}

#artists {
  display: flex;
  flex-direction: column;
}

#artist-profile {
  width: 95%;
  margin: 30px auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#artist-profile > p {
  margin-left: 5%;
  width: 70%;
}

#artist-profile > p > b {
  color: burlywood;
  font-size: larger;
}

#artist-profile-pic {
  width: 280px;
  height: auto;
}

@media only screen and (max-device-width: 780px) {
  #title {
    font-size: 50px;
  }

  #artist-profile > p {
    font-size: 28px;
  }

  #artist-profile-pic {
    margin-top: 80px;
  }
}
