.paralax {
    background-image: url("./assets/img/pexels-gabby-k-5302896.jpg"); 
  }
  

#title {
    margin: 8px 30px 15px 30px;
    text-align: left;
    color: burlywood;
}


#artist-profile {
    display: flex;
    justify-content: center;
}

#artist-profile > p {
    margin-top: 10%;
    margin-left: 5%;
    width: 60%;
}

#artist-profile > p > b {
    color: burlywood;
    font-size: larger;

}

#artist-profile-pic {
    position: relative;
    margin: 30px 20px;
    width: auto;
    height: 400px;
}
